<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<title>Item Page</title>
</head>

<body>

    {{!-- displays individual item from "search page" --}}

    <h1>{{Item}}</h1>

    {{!-- gives info about item, pic, user, location --}}

     <P>
        {{info}}
        {{pic}}
        {{username}}
        {{location}}

    </P>

    {{!-- calendar link/form --}}
    
    {{!-- return to search page button --}}

    


</body>